#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(135deg, #021426, #764ba2);
}


h1 {
    font-size: 20px;
    line-height: 1.1;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
}

form {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

input {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    width: 300px;
    outline: none;
}

button {
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    background: white;
    color: #667eea;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.weather-card {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    min-width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition : background-color 0.3s ease-in-out;
    animation: fadeSlideIn 500ms ease-in-out forwards;
}

.weather-card h2 {
    margin: 0 0 10px 0;
    font-size: 2rem;
}
.weather-card img {
    width: 50%;
    height: 50%;
    animation: horizontalIdle 3s ease-in-out alternate-reverse infinite;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.temp {
    font-size: 10vw;
    font-weight: bold;
    margin: 0;
}

.description {
    font-size: 2vw;
    text-transform: capitalize;
    margin: 0;
}

.details {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.details p {
    margin: 5px 0;
}

.btn-history {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0;
}

.btn-history:hover {
    color: #667eea;
    background: none;
}

.history-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-modal {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 50%;
    max-width: 600px;
    text-align: center;
}

.history-modal p {
    font-size: 2vw;
}

.history-modal h2 {
    margin-top: 0;
    font-size: 3vw;
}
.history-modal ul {
    padding: 0;
}
.history-modal li {
    list-style: none;
    margin: 10px 0;
    font-size: 2vw;
    cursor: pointer;
    transition: color 0.3s;
}
.history-modal li:hover {
    color: #667eea;
    scale: 1.05;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes horizontalIdle {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .weather-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80vw;
    }
    .weather-card img {
        width: 30%;
        height: 30%;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"] {
        width: 100%;
        padding: 15px 30px;
    }

    button {
        padding: 12px 40px;

    }

    .weather-info {
        width: 100%;
        padding: 0 20px;
    }

    .weather-card h2 {
        font-size: 4vw;
    }

    .temp {
        font-size: 15vw;
        font-weight: bold;
        margin: 10px 0;
    }

    .description {
        font-size: 6vw;
    }

    .details {
        flex-direction: column;
        align-items: center;
        font-size: 4vw;
    }
}

@media screen and (max-width: 450px) {

    form {
        margin: 70px 0 0 0;
        width: 70%;
    }

    input[type="text"] {
        width: 100%;
        margin: 0;
        color: #021426;
    }

    form .btn-search {
        display: none;
    }

    .btn-history {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
    }

    .history-modal {
        width: 70%;
    }

    .history-modal h2 {
        font-size: 5vw;
    }

    .history-modal li{
        font-size: 4vw;
    }

    .weather-card {
        width: 75%;
        margin-bottom: 20px;
        padding: 15px;
    }

    .weather-card img {
        width: 50%;
        height: 50%;
    }

    .weather-card h2 {
        font-size: 1.2rem;
    }

    .temp {
        font-size: 15vw;
    }

    .description {
        font-size: 5vw;
    }
}